@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h1 class="display-4">WELCOME TO YO-YO-TEST</h1>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <div class="text-center">
                <button type="button" class="btn btn-primary rounded-pill">Play / Pause</button>
                <h3 class="">Time 00:00</h3>
                <h3 class="">Progress, Level, Speed </h3>
            </div>
        </div>
    </div>
    <br />
    <div class="row text-center">
        <div class="col">
            <p>Next Shuttule</p>
        </div>
        <div class="col">
            <p>Total Time</p>

        </div>
        <div class="col">
            <p>Total Distance</p>

        </div>
    </div>

    <br />
    <div class="row">
        <div class="col">
            <p>Participants </p>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            Runner 1
        </div>
        <div class="col">
            Warn
        </div>
        <div class="col">
            Stop
        </div>
    </div>
    <div class="row">
        <div class="col">
            Runner 2
        </div>
        <div class="col">
            Warn
        </div>
        <div class="col">
            Stop
        </div>
    </div>
</div>
